{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="w-full h-full flex flex-col items-center space-y-10">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {% if not app.user %}
        <div id="app" class="py-4">
            <h1 class="text-4xl font-medium">Please sign in</h1>
        </div>

        <div class="px-20 rounded-xl py-8 flex flex-col items-center justify-center bg-zinc-800 space-y-4">
            <form method="post" class="h-full w-full flex flex-col items-center justify-center space-y-6">
                {% if error %}
                    <div class="rounded-lg bg-red-600 py-2 mb-2 px-4 text-lg flex justify-center items-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div>
                    <label class="w-full flex justify-center mb-2 text-xl font-medium" for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="flex flex-col items-center w-full rounded-lg text-zinc-900 px-2 py-1 text-center text-lg" autocomplete="username" required autofocus>
                </div>

                <div>
                    <label class="w-full flex justify-center mb-2 text-xl font-medium" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="flex flex-col items-center w-full rounded-lg text-zinc-900 px-2 py-1 text-center text-lg" autocomplete="current-password" required>
                </div>

                <button class="rounded-lg text-white bg-purple-800 px-4 py-2 text-lg hover:bg-purple-900" type="submit">Sign in</button>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>
        </div>
    {% endif %}


    {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div> #}
</div>
{% endblock %}
