<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://kit.fontawesome.com/1a3a0ccf9e.js" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-zinc-900 text-white">

        <div class="w-full h-36 bg-purple-800 mb-3">
            {% if app.user %}
                <div class="flex justify-center  items-center text-white font-black  h-1/2 px-48  uppercase text-5xl divide-y-2">
                     <div class=" border-b-2 border-dashed -border-w-2">{{ app.user.username }}</div>
                </div>
                <div class="flex justify-center text-white uppercase items-center text-2xl  mt-2.5">
                    <a class="mr-4 hover:text-blue-600 cursor-pointer">add</a>
                    <a class="mr-4 hover:text-blue-600 cursor-pointer">groups</a>
                    <a class="hover:text-blue-600 cursor-pointer" href="{{ path('app_logout') }}">logout</a>
                </div>
            {% endif %}

            {% if not app.user %}
                <div class="flex justify-center  items-center text-white font-black  h-1/2 px-48  uppercase text-5xl divide-y-2">
                    <div class=" border-b-2 border-dashed -border-w-2">Anonymous</div>
                </div>
                <div class="flex justify-center text-white uppercase items-center text-2xl  mt-2.5">
                    <a class="hover:text-blue-600 cursor-pointer" href="{{ path('app_login') }}">Se connecter</a>
                </div>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
